
<h4>Edit Invoice</h4>
<form  #invoiceForm="ngForm" (ngSubmit)="onSubmit(invoiceForm)" novalidate>
  <table>
    <tbody>
      <tr>
        <td>
          <h2>Select Job For Invoice:</h2>
        </td>
        <td>
          <mat-selection-list name='selected_job' [multiple]="false" [(ngModel)]="invoice.job"  >
            <mat-list-option *ngFor="let job of jobs;" [value]="job.id">
                {{job.id}}  {{ job.name}} {{job.rentals}}
            </mat-list-option>
          </mat-selection-list>
        </td>
      </tr>
      <tr>
        <td>
          <label >Rental Period</label>
        </td>
        <td>
          <input type="number" [(ngModel)]='invoice.rental_period'  id="rental_period" name="period" min="0" max="11">
        </td>
      </tr>
      <tr>
        <td>
          <label >Invoice Total</label>
        </td>
      </tr>
      <tr>
        <td>
          <input  type="text" [(ngModel)]='invoice.invoice_amount' (keypress)="keyPressNumbers($event)" name='total' id='total'/>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <button id = "div1"class="btn btn-primary" type="submit">Edit</button> 
  </p>

</form>
    <form #delete="ngForm" (ngSubmit)="onDelete(delete)" novalidate>
      <div *ngIf="!invoice.id">Content to render when condition is true.>

        <div class="form-group">
            <label>id</label>
            <input type="text" #id='ngModel' class="form-control" name="id" id='id' [(ngModel)]="invoice.id"
            [class.is-invalid]="id.invalid && id.touched">
            <div *ngIf="id.touched && id.errors">
              <div class="alert alert-danger" *ngIf="id.errors.required">id is required</div>
            </div>
        </div>
        </div>
        <button id = "div2">Delete</button>
    </form>
