<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
{{ creds | json}}
    <table>
    <tbody>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <!--    <input type="text" #serial_no='ngModel'  class="form-control" required minlength="5" name="serial_no" id='serial_no' [(ngModel)]="equipment.serial_no"
      -->
                <input type='text' #user='ngModel' name='user' id='user' [(ngModel)]='username'>
            </td>
        </tr>

        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type='password' #pw='ngModel' name='pw' id='pw' [(ngModel)]='password'>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button mat-flat-button color="accent">login</button>
            </td>
        </tr>
    </tbody>
</table>
<div [innerHtml] = 'result'></div>
</form>
