<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
<table>
    <tbody>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input type='text' id='username' [(ngModel)]='username'>
            </td>
        </tr>

        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type='password' id='password' [(ngModel)]='password'>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button mat-flat-button color="accent">login</button>
            </td>
        </tr>
    </tbody>
</table>

</form>
