
<mat-toolbar style='background-color:cornflowerblue;color:whitesmoke'>
  <span><div style='float:left;'>Company Icon</div><div style='clear:left'><label style='float:right'>Login</label>
    <mat-icon (click)='opened=!opened' >format_list_bulleted </mat-icon>
 
  </div></span>
</mat-toolbar>

  <mat-tab-group color="primary" >
    <mat-tab label="Settings">Settings </mat-tab>
    <mat-tab label="Rental Management">Rental Mangement </mat-tab>
    <mat-tab label="Vendors">Vendors</mat-tab>
    <mat-tab label="Reports">Reports</mat-tab>
  </mat-tab-group>

    <!-- Mat sidenav container -->
    <mat-sidenav-container>
      <mat-sidenav mode='over' [(opened)]='opened'>
        Sidenav
        <mat-sidenav-content >
            
        </mat-sidenav-content>
      </mat-sidenav>
    </mat-sidenav-container>
    
    <app-rental-add></app-rental-add>
    
    <!--
         <app-invoice-add></app-invoice-add>
      <app-job-list></app-job-list> 
      <app-job-add></app-job-add>
   <app-invoice-list></app-invoice-list>  
   <app-equipment-list></app-equipment-list> 
  <app-vendor-list></app-vendor-list> 
   <app-rental-list></app-rental-list>
   <app-equipment-add></app-equipment-add> -->
  <router-outlet>
    
  </router-outlet>
  <router-outlet name='lower'></router-outlet>