
<mat-toolbar style='background-color:rgb(139, 88, 41);color:whitesmoke'>
  <span><div style='float:left;'><h1>Summit works</h1></div><div style='clear:left'>
    <div *ngIf='auth_srvc.isLoggedIn' >
        <label>Logged in as: {{auth_srvc.username}}</label>
        <button (click)='doLogout()'>Logout</button>
    </div>

   
    <mat-icon (click)='opened=!opened' >format_list_bulleted </mat-icon>
 
  </div></span>
</mat-toolbar>

  <mat-tab-group dynamicHeight (selectedTabChange)='menu($event)'>
    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Settings</h1>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Rental Management</h1>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Vendors</h1>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <h1>Reports</h1>
      </ng-template>
    </mat-tab>

  </mat-tab-group>






    <!-- Mat sidenav container -->

    
    <!--

      <app-invoice-list></app-invoice-list> 
      <app-equipment-add></app-equipment-add>
      <app-equipment-edit></app-equipment-edit>
      <app-equipment-list></app-equipment-list> 

      <app-vendor-add></app-vendor-add>  
      <app-vendor-list></app-vendor-list> 
      <app-vendor-edit></app-vendor-edit>
      
      <app-rental-add></app-rental-add>
      <app-rental-list></app-rental-list>
      <app-rental-edit></app-rental-edit>

      <app-invoice-edit></app-invoice-edit>
      <app-invoice-list></app-invoice-list>  
      <app-invoice-add></app-invoice-add>
      
      <app-job-list></app-job-list> 
      <app-job-add></app-job-add>
      <app-job-edit></app-job-edit>

   -->
  <router-outlet></router-outlet>
 