
<mat-toolbar style='background-color:cornflowerblue;color:whitesmoke'>
  <span><div style='float:left;'>Company Icon</div><div style='clear:left'><label style='float:right'>Login</label>
    <mat-icon (click)='opened=!opened' >format_list_bulleted </mat-icon>
 
  </div></span>
</mat-toolbar>

  <mat-tab-group color="primary" (selectedTabChange)='menu($event)'>
    <mat-tab label="Settings">Settings </mat-tab>
    <mat-tab label="Rental Management"> </mat-tab>
    <mat-tab label="Vendors">Vendors</mat-tab>
    <mat-tab label="Reports">Reports</mat-tab>
  </mat-tab-group>

  <app-job-list></app-job-list> 



    <!-- Mat sidenav container -->

    
    <!--
      <app-equipment-add></app-equipment-add>
      <app-equipment-edit></app-equipment-edit>
      <app-equipment-list></app-equipment-list> 

      <app-vendor-add></app-vendor-add>  
      <app-vendor-list></app-vendor-list> 
      <app-vendor-edit></app-vendor-edit>
      
      <app-rental-add></app-rental-add>
      <app-rental-list></app-rental-list>
      <app-rental-edit></app-rental-edit>

      <app-invoice-edit></app-invoice-edit>
      <app-invoice-list></app-invoice-list>  
      <app-invoice-add></app-invoice-add>
      
      <app-job-list></app-job-list> 
      <app-job-add></app-job-add>
      <app-job-edit></app-job-edit>

   -->
  <router-outlet></router-outlet>
 